<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>Loginpage</display-name>
    <servlet-name>Loginpage</servlet-name>
    <servlet-class>views.Loginpage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Loginpage</servlet-name>
    <url-pattern>/Loginpage</url-pattern>
  </servlet-mapping>
  <display-name>ASSIGMENT_JAVA3</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>JDBC</display-name>
    <servlet-name>JDBC</servlet-name>
    <servlet-class>utils.JDBC</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JDBC</servlet-name>
    <url-pattern>/JDBC</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>reporterControl</display-name>
    <servlet-name>reporterControl</servlet-name>
    <servlet-class>views.reporterControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>reporterControl</servlet-name>
    <url-pattern>/reporterControl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Trangchu</display-name>
    <servlet-name>Trangchu</servlet-name>
    <servlet-class>dao.Trangchu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Trangchu</servlet-name>
    <url-pattern>/Trangchu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TrangchuDao</display-name>
    <servlet-name>TrangchuDao</servlet-name>
    <servlet-class>dao.TrangchuDao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TrangchuDao</servlet-name>
    <url-pattern>/TrangchuDao</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TrangchuDaoImpl</display-name>
    <servlet-name>TrangchuDaoImpl</servlet-name>
    <servlet-class>implement.TrangchuDaoImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TrangchuDaoImpl</servlet-name>
    <url-pattern>/TrangchuDaoImpl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Regester</display-name>
    <servlet-name>Regester</servlet-name>
    <servlet-class>views.Regester</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Regester</servlet-name>
    <url-pattern>/Regester</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ThethaoControl</display-name>
    <servlet-name>ThethaoControl</servlet-name>
    <servlet-class>views.ThethaoControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ThethaoControl</servlet-name>
    <url-pattern>/ThethaoControl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IntroduceDao</display-name>
    <servlet-name>IntroduceDao</servlet-name>
    <servlet-class>dao.IntroduceDao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IntroduceDao</servlet-name>
    <url-pattern>/IntroduceDao</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IntroduceDaoImpl</display-name>
    <servlet-name>IntroduceDaoImpl</servlet-name>
    <servlet-class>implement.IntroduceDaoImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IntroduceDaoImpl</servlet-name>
    <url-pattern>/IntroduceDaoImpl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DangnhapDao</display-name>
    <servlet-name>DangnhapDao</servlet-name>
    <servlet-class>dao.DangnhapDao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DangnhapDao</servlet-name>
    <url-pattern>/DangnhapDao</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DangnhapDaoImpl</display-name>
    <servlet-name>DangnhapDaoImpl</servlet-name>
    <servlet-class>implement.DangnhapDaoImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DangnhapDaoImpl</servlet-name>
    <url-pattern>/DangnhapDaoImpl</url-pattern>
  </servlet-mapping>
</web-app>